<h1>+Info</h1>

<div class="todo">

	<p>Esto no es un sitio oficial de la Universidad Nacional de Lujan, el mismo fue inspirado por:</p>
	<a

			href="https://sites.google.com/view/cierra-exactas-uba/home"
			>https://sites.google.com/view/cierra-exactas-uba/home</a>
	<p>Asi que ahora tenemos uno.</p>

	<br>
	<br>
	<br>
	<p class="fecha" >Lun, 22/04/2024</p>
	<p class="titulo">Con este presupuesto no hay universidad posible</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/m0IhU40CYSA?si=9KNDC7IGViY9mYBr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>	
	<br>
	<a href="https://www.youtube.com/embed/m0IhU40CYSA?si=9KNDC7IGViY9mYBr">https://www.youtube.com/embed/m0IhU40CYSA?si=9KNDC7IGViY9mYBr</a>	
	<br>
	<br>
	<br>
	<p class="fecha" >Jue, 18/04/2024</p>
	<p class="titulo">Transitamos una situación de gravedad extrema</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OT2OuucNRcI?si=hbJAciwo2DEccX9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<br>
	<a href="https://www.youtube.com/watch?v=OT2OuucNRcI" >https://www.youtube.com/watch?v=OT2OuucNRcI</a>
	<br>
	<br>
	<br>
	<p class="fecha">Jue, 18/04/2024</p>
	<p class="titulo">Ante la propuesta que acaba de hacer pública el Gobierno nacional a través de</p>
	<p class="titulo">los medios de comunicación sobre nuevas medidas de la Secretaría de Educación, el "&#64;" CINoficial informa 👇</p>
	<a href="https://twitter.com/CINoficial/status/1781155100582359130?t=vGtx8nAd2YteMHv9XQotuA" >https://twitter.com/CINoficial/status/1781155100582359130?t=vGtx8nAd2YteMHv9XQotuA</a>
	<br>
	<br>
	<br>

	<p class="fecha" >Lun, 8/04/2024</p>
	<p class="titulo"
	   >¿Vos sabés lo que está pasando con el presupuesto de la UNLu?</p>
	<a href="https://www.instagram.com/p/C5TW3-IruSk/" >https://www.instagram.com/p/C5TW3-IruSk/</a>
	<br>
	<p class="fecha" >Mié, 03/04/2024 - 10:16</p>
	<p class="titulo"
	   >ADUNLu se suma al paro nacional docente</p>
	<a
			href="https://www.prensa.unlu.edu.ar/?q=node/9659"
			>https://www.prensa.unlu.edu.ar/?q=node/9659</a>
	<br>
	<br>
	<br>
	<p class="fecha"
	   >Mar, 26/03/2024 - 11:25</p>
	<p class="titulo"
	   >Campaña de la UBA contra el recorte de presupuesto: "Cuidemos lo que funciona"</p>
	<a
			href="https://www.prensa.unlu.edu.ar/?q=node/9650"
			>https://www.prensa.unlu.edu.ar/?q=node/9650</a>
	<br>
	<br>
	<br>
	<p class="fecha"
	   > Jue, 29/02/2024 - 14:04</p>
	<p class="titulo"
	   >Emergencia: la UNLu reclama un presupuesto que garantice la continuidad de sus funciones</p>
	<a
			href="https://www.prensa.unlu.edu.ar/?q=node/9580"

			>https://www.prensa.unlu.edu.ar/?q=node/9580</a>
	<br>
	<br>
	<br>
	<p class="titulo"
	   >Entrevista al Rector</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/yVsZzqN0jqE?si=NtGQs_wNN3LboecP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


	<br>
	<a
			href="https://www.youtube.com/watch?v=yVsZzqN0jqE"
			>https://www.youtube.com/watch?v=yVsZzqN0jqE</a>
</div>
